:root {
    color-scheme: light-dark;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, h2, p {
    margin: 0;
    font-family: sans-serif;
}

.chat {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
}

/* SIDEBAR */

.chat-menu{
    height: 100vh;
    width: 8rem;
    background-color: #dddcdc;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;

}

.chat-menu h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.chat-menu__chat-contact {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 1.5rem;
    border-radius: 50%;
    background-color: #30588a;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

.chat-menu__chat-contact p {
    color: white;
    font-size: 1.5rem;
}

.chat-menu__user-opts {
    width: 4rem;
    height: 12rem;
    margin: 1rem 1rem;
    border-radius: 1rem;
    background-color: rgb(176, 176, 176);
    display: flex;
    flex-direction: column-reverse;
}
.chat-menu__user-opts .logout {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem 0.25rem;
    border-radius: 50%;
    background-color: rgb(67, 67, 67);
    text-align: center;
    line-height: 3.5rem;
}
.chat-menu__user-opts .logout p {
    font-size: 2.5rem;
    color: white;
}

/* CHAT */

.chat-form {
    width: 40rem;
    height: calc(100vh - 10rem);
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 1fr 4rem;
    background-color: #f9f6f6;
    overflow: hidden;
    box-shadow: 0 0 2rem #9b9b9b;

}

.chat-window {
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    border: none;
    overscroll-behavior: contain;
    overflow-y: scroll;
}

.chat-message {
    max-width: 30rem;
    display: inline-block;
    padding: 0.8rem;
    overflow-wrap: break-word;    
    background-color: #30588a;
    border-radius: 1.5rem;
}

.--left {
    align-self: flex-start;

}
.--right {
    align-self: flex-end;

}

.chat-message__time-user {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
}

.chat-message__time-user p {
    display: inline-block;
}

.--t-right {
    flex-direction: row-reverse;
}
.--t-left {
    flex-direction: row;
}

.chat-message__time-user div {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    color: #30588a;
    text-align: center;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 50%;
}

.chat-message__inner {
    background-color: #4071ad;
    padding: 0.5rem;
    border-radius: 1rem;
}

.chat-message__inner p {
    font-size: 1.5rem;
    color: white;
}

.chat-controls {
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.chat-controls input {
    padding: 0.5rem 1.5rem;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.chat-controls button {
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: all .1s;
}

.chat-controls button:active {
    background-color: #30588a;
    color: white;
}

.--userA {
    background-color: #30588a;
}

.--userB {
    background-color: #9e3f2c;
}

.--userC {
    background-color: #177630;
}
.--connected {
    opacity: .6;
}