<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="chat">
        <!-- Sidebar menu where chats and menus are stored -->
        <aside class="chat-menu">
            <div class="chat-menu__chats">
                <h2>chats</h2>
                <div class="chat-menu__chat-contact"><p>M</p></div>
                <div class="chat-menu__chat-contact"><p>J</p></div>
                <div class="chat-menu__chat-contact"><p>F</p></div>
            </div>
            <div class="chat-menu__user-opts">
                <div class="logout"><p>⏼</p></div>
            </div>
        </aside>
        <form action="" class="chat-form">
            <div class="chat-window">
                <!--<div class="--right">
                    <div class="chat-message --userA"><p>message we Lorem, ipsum dolor sit amet consectetur adipisicing elit. In non voluptatem ratione voluptatum neque tenetur minus quaerat necessitatibus enim optio temporibus aspernatur totam officia inventore, dignissimos illum! Architecto asperiores quod consequuntur sed! Cum suscipit, saepe ducimus quas deserunt rerum voluptates fugiat sunt doloremque, libero, magni ea ratione impedit. Pariatur, rem.</p></div>
                </div>-->
            </div>
            <div class="chat-controls">
                <input type="text" placeholder="enviar un mensaje"> 
                <button class="submit" type="submit">enviar</button>
            </div>
        </form>
    </div>


    <!-- Importing Socket.IO -->    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <!-- Importing My Script as a module for modularize -->    
    <script type="module" src="static/index.js"></script>
</body>
</html>